<body>
  <h1>Posted Dorms</h1>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Address</th>
          <th>Lessor</th>
          <th>Publish Status</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr class="users_tr" *ngFor="let dorm of currentPageItems; let i = index" (click)="openDormDialog(dorm)">
          <td name="Id">{{ dorm._id }}</td>
          <td name="Title">{{ dorm.title }}</td>
          <td name="Address">{{ dorm.address }}</td>
          <td name="Lessor">{{ dorm.lessor }}</td>
          <td name="Published">{{ dorm.published }}</td>
          <td name="CreatedAt">{{ dorm.createdAt }}</td>
        </tr>
      </tbody>
    </table>
    <!-- Pagination section -->
    <div class="pagination">
      <button (click)="prevPage()" [disabled]="currentPage === 1">
        Previous
      </button>
      <span>{{ currentPage }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        Next
      </button>
    </div>
  </div>
</body>
